body {
    background-color: #111827; 
    color: #E5E7EB;
    font-family: 'Lato', sans-serif;
}

p{
    color: #000000;
    font-size: 11px;
}

.form-container {
    background-color: #1F2937;
}

.form-container h2 {
    font-family: 'Josefin Sans', sans-serif;
}

input, textarea, select {
    background-color: #374151;
    border-color: #4B5563;
}

#preview {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    color: #000;
    padding: 1.5rem;
    border-radius: 0.5rem;
    min-height: 400px;
}

#preview h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

#preview h3 {
    font-size: 1.2rem;
    margin-top: -4px;
    font-weight: 500;
}

#preview a {
    color: #60A5FA;
    text-decoration: none;
}

#preview a:hover {
    text-decoration: underline;
}

.section-title {
    font-size: 16px;
    font-weight: 650;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.5rem;
}
